#hero {
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    padding-left: var(--left-padding);
    background-image: linear-gradient(
        var(--color-background-dark),
        var(--color-background-blue)
    );

    display: flex;
    position: relative;

    color: var(--color-text-white);
    font-size: var(--font-size-lg);

    user-select: none;

    .hero-button {
        display: flex;
        align-items: center;

        margin-top: 1rem;
        padding-inline: 1rem;
        padding-block: 0.5rem;

        border: 2px solid var(--color-text-white);
        background-color: transparent;
        font-size: var(--fontsize-sm);
        color: var(--color-text-white);

        cursor: pointer;

        transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;

        svg {
            margin-left: 20px;
            transition: transform 0.1s ease-in-out;
        }
    }

    .hero-button:hover {
        color: var(--color-secondar-pink);
        border-color: var(--color-secondar-pink);
    }

    .hero-text {
        z-index: 125;
    }

    .hero-text-name {
        color: var(--color-secondar-pink);
    }

    .hero-subtext {
        font-size: var(--font-size-md);
        margin-top: 50px;
    }

    #hero-more-icon {
        position: absolute;
        bottom: 10px;
        left: 50%;
    }
}
