#about {
    user-select: none;
    color: var(--color-text-dark);

    .about-title::after {
        background-image: linear-gradient(black, black);
    }

    .about-container {
        display: flex;
        gap: calc(var(--container-width) * 0.03);

        .profile-container {
            width: 40%;
            text-align: center;
            .profile-pic {
                width: 16rem;
                border-radius: 50%;
            }

            .profile-caption {
                font-size: var(--font-size-xs);
            }
        }

        .my-story {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
                sans-serif;
            width: 60%;
            line-height: 2rem;
            font-size: var(--font-size-sm);
        }
    }

    > h2 {
        font-size: var(--font-size-md);
        margin-bottom: var(--margin-title-bottom-block);
    }
}
