#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    min-height: 100vh;
    padding-block: 100px;
    max-width: var(--container-width);
    margin: auto;

    .about-title::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        transform: translateY(2px);
        background-image: linear-gradient(black, black);
        background-size: 60% 4px;
        background-repeat: no-repeat;
        background-position: bottom, center;
    }

    .about-container {
        display: flex;
        gap: calc(var(--container-width) * 0.03);

        .profile-container {
            width: 50%;
            text-align: center;
            .profile-pic {
                width: 16rem;
                border-radius: 50%;
            }
        }

        .my-story {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
                sans-serif;
            width: 50%;
            line-height: 2rem;
        }
    }

    > h2 {
        font-size: var(--font-size-md);
        margin-bottom: 100px;
    }
}
