.nav {
    background-color: black;
    display: flex;

    width: 100vw;
    padding-block: 20px;
    padding-inline: var(--left-padding-logo);

    color: var(--color-text-white);
    font-size: 1.5rem;

    ul {
        display: flex;
        flex: 1;
        gap: 2rem;
    }

    a {
        text-decoration: none;
        color: var(--color-text-white);
    }

    a:hover {
        color: rgb(177, 43, 177);
    }

    :visited {
        color: var(--color-text-white);
    }
}
