.nav {
    background-color: black;
    display: flex;
    align-items: center;

    top: 0;
    left: 0;
    z-index: 200;
    transition: transform 0.5s ease-in-out;

    width: 100vw;
    height: 75px;
    padding-block: 20px;
    padding-inline: var(--container-left-margin);

    color: var(--color-text-white);
    font-size: 1.5rem;

    ul {
        display: flex;
        flex: 1;
        gap: 2rem;
    }

    button {
        font-size: var(--font-size-sm);
        text-decoration: none;
        color: var(--color-text-white);
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    button:hover {
        color: rgb(177, 43, 177);
    }

    :visited {
        color: var(--color-text-white);
    }
}

.nav-space-holder {
    height: 75px;
}
