.skill {
    padding-top: 100px;
    text-align: center;
    h2 {
        font-size: var(--font-size-md);
        margin-bottom: 50px;
    }
    .skill-list {
        display: flex;
        flex-wrap: wrap;
        div {
            flex: 0 0 20%;
            text-align: center;
        }

        img {
            width: max(5vw, 60px);
        }
    }
}
