.skill {
    padding-top: 100px;
    text-align: center;
    h2 {
        font-size: var(--font-size-md);
        margin-bottom: var(--margin-title-bottom-block);
    }
    .skill-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div {
            flex: 0 0 120px;
            text-align: center;
        }

        img {
            width: 50%;
        }
    }
}
