:root {
    --color-background-dark: #191727;
    --color-text-white: #eee;
}

/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}
