:root {
    --color-background-dark: #090811;
    --color-background-blue: #202757;
    --color-text-white: #eee;
    --color-secondar-pink: #c05f90;

    --left-padding: 10rem;
    --left-padding-logo: 5rem;

    --font-size-lg: 3rem;
    --font-size-md: 2rem;
    --fontsize-sm: 1.5rem;
    --fontsize-xs: 1rem;

    --container-size: 100rem;
}
