:root {
    --color-background-dark: #252934;
    --color-background-blue: #202757;
    --color-background-purple: #34285e;
    --color-background-cyan: rgb(17, 85, 94);

    --color-lighter-blue: #2d44d8;
    --color-lighter-purple: #5d48a8;
    --color-lighter-cyan: rgb(31, 152, 168);

    --color-text-white: #eee;
    --color-text-dark: #1d1d1d;
    --color-secondary-pink: #a70175;
    --color-secondary-cyan: #01a1a7;
    --color-gradient-rainbow: linear-gradient(90deg, red, yellow, green, blue);

    --left-padding: 10rem;
    --left-padding-logo: 5rem;
    --padding-section-block: 100px;
    --margin-title-bottom-block: 75px;
    --hero-top-margin: 100px;

    --font-size-xl: 4rem;
    --font-size-lg: 3.5rem;
    --font-size-md: 3rem;
    --font-size-sm: 1.75rem;
    --font-size-xs: 1rem;

    --container-width: 80vw;
    --container-left-margin: 10vw;

    --animate-delay: 0.25s;
}

// media queries

@media (max-width: 1200px) {
    :root {
        --left-padding: 50px;
        --left-padding-logo: 50px;
        --margin-title-bottom-block: 50px;
        --hero-top-margin: 50px;

        --font-size-xl: 3.75rem;
        --font-size-lg: 3.25rem;
        --font-size-md: 2.75rem;
        --font-size-sm: 1.5rem;
        --font-size-xs: 1rem;

        --container-width: 90vw;
        --container-left-margin: 20px;
    }

    #about {
        .about-container.about-container {
            flex-direction: column;
            > * {
                width: 100%;
            }
        }
    }
}
@media (max-width: 800px) {
    :root {
        --left-padding: 15px;
        --left-padding-logo: 15px;
        --margin-title-bottom-block: 25px;
        --hero-top-margin: 25px;

        --font-size-xl: 3.5rem;
        --font-size-lg: 3rem;
        --font-size-md: 2.5rem;
        --font-size-sm: 1rem;
        --font-size-xs: 0.75rem;

        --container-width: 80vw;
        --container-left-margin: 15px;
    }
}

// Utility Classes

.flex {
    display: flex;
}

.disable-hover {
    pointer-events: none;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: var(--container-width);
    margin: auto;

    padding-block: var(--padding-section-block);
}

.title {
    position: relative;
    font-size: var(--font-size-md);
    width: fit-content;
    margin-bottom: var(--margin-title-bottom-block);
}

.title::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(2px);

    background-size: 60% 4px;
    background-repeat: no-repeat;
    background-position: bottom, center;
}
